.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;  /* Adjust as needed */
}

.title-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;  /* Adjust as needed */
}

.google-signin-btn {
    margin-left: auto;  /* This pushes the button to the right */
}
